torch==2.1.*
torchvision==0.16.*
opencv-python==4.8.*
pycocotools==2.0.*
bittensor==6.5.*
git+https://github.com/facebookresearch/segment-anything.git
diskcache==5.6.*
wandb==0.16.*
ftfy==6.1.*
regex==2023.10.*
tqdm==4.66.*
git+https://github.com/openai/CLIP.git
datasets==2.15.*
markovify==0.9.*
python-Levenshtein==0.23.*
